.icon-home {
  display: block;
  background: url('/images/sprite.png') no-repeat -5px -1px;
  width: 12px;
  height: 12px;
}

.icon-search-black {
  display: block;
  background: url('/images/sprite.png') no-repeat 0 -22px;
  background-size: 150px 500px;
  width: 16px;
  height: 16px;
}

.icon-search-white {
  display: block;
  background: url('/images/sprite.png') no-repeat -32px -22px;
  background-size: 150px 500px;
  width: 16px;
  height: 16px;
}

.icon-arrow-up {
  display: block;
  background: url('/images/sprite.png') no-repeat -27px -6px;
  width: 9px;
  height: 5px;
}

.icon-facebook {
  background: url('/images/sprite.png') no-repeat -73px 0;
  width: 8px;
  height: 14px;
}

.icon-comment {
  background: url('/images/sprite.png') no-repeat -117px -2px;
  width: 20px;
  height: 19px;
}
